
<h1 class="m-5 text-center">Aprendiendo PIPES</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <th>Valor</th>
          <th>Pipe</th>
          <th>Resultado</th>
        </tr>
        <tr>
          <td>{{ saludo }}</td>
          <td>Uppercase</td>
          <td>{{ saludo | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ saludo }}</td>
          <td>Lowercase</td>
          <td>{{ saludo | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ saludo }}</td>
          <td>TitleCase</td>
          <td>{{ saludo | titlecase }}</td>
        </tr>
        <tr>
          <td>{{ saludo }}</td>
          <td>Slice:3</td>
          <td>{{ saludo | slice:3 }}</td>
        </tr>
        <tr>
          <td>{{ saludo }}</td>
          <td>Slice:1:6</td>
          <td>{{ saludo | slice:1:6 }}</td>
        </tr>
        <tr>
          <td>{{ numero }}</td>
          <td>Number</td>
          <td>{{ numero | number: '.2-2' }}</td>
        </tr>
        <tr>
          <td>{{ numero }}</td>
          <td>Percent</td>
          <td>{{ numero | percent }}</td>
        </tr>
        <tr>
          <td>{{ pago }}</td>
          <td>Currency</td>
          <td>{{ pago | currency }}</td>
        </tr>
        <tr>
          <td>{{ pago }}</td>
          <td>Currency[EUR]</td>
          <td>{{ pago | currency:'EUR' }}</td>
        </tr>
        <tr>
          <td>{{ pago }}</td>
          <td>Currency[KRW]</td>
          <td>{{ pago | currency:'KRW' }}</td>
        </tr>
        <tr>
          <td>{{ pago }}</td>
          <td>Currency[UYW]</td>
          <td>{{ pago | currency:'UYW':'symbol-narrow':'.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ promesa }}</td>
          <td>Async</td>
          <td>{{ promesa | async }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>Date</td>
          <td>{{ fecha | date }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>Date</td>
          <td>{{ fecha | date:'short' }}</td>
        </tr>
      </table>
    </div>
    <br>
    <h3>JSON</h3>
    <br>
    <div class="col">
      {{ estudiante | json }}
    </div>
  </div>
</div>
